/* || Fonts */

@font-face {
    font-family: 'Potta One', cursive;
    src: url(../fonts/PottaOne-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yusei Magic', sans-serif;
    src: url(../fonts/YuseiMagic-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* || General style rules */

*, ::after, ::before {
    box-sizing: border-box;
}

/* || Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    word-spacing: 0.8px;
    letter-spacing: 0.4px;
    color: red;
}

.nav a, p {
    font-family: 'Yusei Magic', sans-serif;
}

h1 {
    font-family: 'Potta One', cursive;
}

/* || Layout */

body {
    background: fixed black url(../images/dp-section-background.png) top right/cover no-repeat;
}

.section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.section-content, .header-content, .footer-content {
    width: 90%;
    margin: 0 auto;
}

/* || Navigation */

.header-content nav {
    padding: 1.5em 0;
}

.header-content .logo {
    width: 5em;
}

.header-content .logo > img {
    width: 100%;
    background-color: red;
    border-radius: 50%;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav a {
    outline: none;
    display: inline-block;
    text-decoration: none;
    color: red;
    line-height: 2;
    font-size: 2em;
    margin-right: 1em;
}

.nav > li:last-child a {
    margin-right: 0;
}

.nav a:hover {
    text-shadow: 0 2px 3px red;
}

/* || Section hero */

.section-hero .section-content .wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 30em;
}

.section-hero h1 {
    font-size: 4em;
}

.section-hero p {
    font-size: 1.5em;
    text-align: center;
}

/* || Footer */

footer {
    background-color: black;
}

.footer-content {
    padding-top: 2em;
}

.footer-content .dp-circle {
    display: flex;
    justify-content: center;
}

.footer-content .dp-circle img {
    border-radius: 50%;
    border: 2px solid red;
    margin: 2em;
}

.footer-content > img {
    width: 100%;
}

footer .attribution {
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5em 0;
}

/* || Media query for tablet breakpoint */

@media screen and (min-width: 30.0625em) {

    /* || Navigation */

    .nav > li {
        display: inline;
    }

    /* || Section hero */
    .section-hero h1 {
        font-size: 6em;
    }
}

/* || Media query for laptop breakpoint */

@media screen and (min-width: 48.0625em) {

    /* || Navigation */

    nav {
        display: flex;
        /* justify-content: flex-start; */
        align-items: center;
    }

    nav .logo {
        margin-right: 10em;
    }
}