/* || General style rules */

*, ::after, ::before {
    box-sizing: border-box;
}

/* || Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    word-spacing: 0.8px;
    letter-spacing: 0.4px;
}

/* || Layout */

.section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.section-content, .header-content, .footer-content {
    width: 90%;
    margin: 0 auto;
}